.elements {
  max-width: 880px;
  margin: 46px auto 67px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 1000px) {
  .elements {
    max-width: 584px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .elements {
    max-width: 282px;
    margin: 36px auto 48px;
    grid-template-columns: 1fr;
  }
}
