/* позже разнести стили */
.authentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 358px;
  margin-bottom: 40px;
}

.authentication__heading {
  font-family: 'Inter', 'Arial', Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.authentication__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
  font-family: 'Inter', 'Arial', Helvetica, sans-serif;
}

.authentication__form input {
  font-size: 14px;
  height: 27px;
  background-color: transparent;
  color: #ccc;
  padding: 0 0 11px;
  border: none;
  border-bottom: 2px solid #ccc;
}

.authentication__link {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  margin-top: 180px;
  border: none;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 0;
}

.authentication__signin {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  font-family: 'Inter', 'Arial', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.authentication__signin p {
  margin: 0 8px;
}

.authentication__login-link {
  color: #fff;
  background-color: transparent; 
  padding: 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
}